body {
 background-color:var(--bg-color);
 color: black;
 margin:0;
 letter-spacing:.06em;
 font-family:inter ui,-apple-system,BlinkMacSystemFont,roboto,segoe ui,Helvetica,Arial,sans-serif;
 font-weight:400;
 font-size:1rem;
 line-height:1.54;
 transition:all .3s ease;
 -webkit-transition:all .3s ease;
 -moz-transition:all .3s ease;
 -o-transition:all .3s ease;
 -ms-transition:all .3s ease
}

body.darkclass h3,
  body.darkclass a {
        background-color: black;
        color: white;
}

a {
 color:var(--text-color)
}
h1 {
 font-size:2.625rem;
 margin:.67em 0
}
.wrapper {
 overflow-x:hidden;
 margin-left:auto;
 margin-right:auto;
 width:calc(100vw - 40px);
 max-width:760px;
 padding:20px
}
.navbar {
 width:calc(100% - 40px);
 background-color:var(--navbar-bg-color);
 padding:20px;
 margin-bottom:70px
}
.navbar * {
 user-select:none;
 -webkit-user-select:none;
 -khtml-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none
}
.navbarContainer {
 height:1.54;
 line-height:1.54;
 margin-left:auto;
 margin-right:auto;
 width:100%;
 max-width:760px;
 position:relative
}
.navbarLogo {
 text-decoration:none;
 vertical-align:middle;
 font-size:1.125rem;
 font-weight:700
}
.logoCursor {
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 1rem;
    background: #fe5186;
    margin-left: 5px;
    border-radius: 1px;
    animation: blink 1s infinite;
    -webkit-animation: blink 1s infinite;
    color: #E1C564;
}
@keyframes blink {
 0% {
  opacity:0
 }
 50% {
  opacity:1
 }
 100% {
  opacity:0
 }
}
.rightNavContainer {
 position:absolute;
 right:0;
 top:0
}
.rightNavContainer a {
 text-decoration:none;
 padding-right:20px
}
.rightNavContainer a:hover {
 text-decoration:underline
}
.themeToggle {
 cursor:pointer;
 fill:var(--text-color);
 border-left:solid var(--text-color) 1px;
 padding-left:18px;
 vertical-align:middle;
 display:inline-block
}
@media screen and (max-width:900px) {
 .rightNavContainer a {
  padding-right:10px
 }
 .themeToggle {
  padding-left:13px;
 }
}
#darkMode {
 --bg-color:#292a2d;
 --text-color:#E1C564;
 --navbar-bg-color:#252627;
 --hover-bg-color:#4a4c4e
}
#lightMode {
    --bg-color: #fff;
    --text-color: #008080;
    --navbar-bg-color: #ededed;
    --hover-bg-color: #dddbdb
}
::-webkit-scrollbar {
 width:8px;
 height:8px
}
::-webkit-scrollbar-track {
 background:var(--navbar-bg-color);
 border-radius:10px
}
::-webkit-scrollbar-thumb {
 background:var(--hover-bg-color);
 border-radius:10px
}
::-webkit-scrollbar-thumb:hover {
 background:var(--text-color)
}
::-webkit-scrollbar-thumb:active {
 background:#fe5186
}
.screenshotWrapper {
 scrollbar-color:var(--hover-bg-color) var(--navbar-bg-color);
 scrollbar-width:thin
}
.verticalCenter {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #E1C564;
}
    .verticalCenter a {
        text-decoration: none;
    }
#siteTitle {
    width: 550px;
    letter-spacing: .135em;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    border-right: .15em solid #fe5186;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    animation: typing 1.5s steps(14,end),blink-caret .75s step-end infinite;
    color: #E1C564;
}
@media screen and (max-width:600px) {
    #siteTitle {
        border-right: none;
        animation: none;
        white-space: normal;
        width: 100%;
        color: #E1C564;
    }
}
.socialIcon {
    margin-left: -2px;
    margin-right: -2px;
    border-radius: 8px;
    padding: 13px;
    fill: none;
    stroke: var(--text-color);
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: floatUp 1s ease;
    color: #E1C564;
}
.socialIcon:hover {
 stroke:#fe5186;
 background-color:var(--hover-bg-color)
}
.footer[data-v-c1e815a2] {
    -webkit-box-orient: vertical;
    flex-direction: column;
    background: var(--grey-dark);
    z-index: 1;
    color: #E1C564;
}

.footer[data-v-c1e815a2], .footer .wrapper[data-v-c1e815a2] {
    display: -webkit-box;
    display: flex;
    -webkit-box-direction: normal
}

.footer .wrapper[data-v-c1e815a2] {
    -webkit-box-orient: horizontal;
    flex-direction: row;
    padding: 25%;
    height: 20%;
}

.footer .wrapper .part[data-v-c1e815a2] {
    width: 100%;
}

.footer .wrapper .part[data-v-c1e815a2], .footer .wrapper .part .text[data-v-c1e815a2] {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    color: #E1C564;
}

.footer .wrapper .part .text .title[data-v-c1e815a2] {
    font-size: 20px;
    font-weight: 500
}

.footer .wrapper .part .text .title .bold[data-v-c1e815a2] {
    font-weight: 700;
    color: #E1C564;
}

.footer .wrapper .part .text .description[data-v-c1e815a2] {
    font-size: 15px;
    font-weight: 300;
    max-width: 80%;
    opacity: .9;
    margin-top: 15px;
    color: #008080;
}

.footer .wrapper .part .text .copyright[data-v-c1e815a2] {
    font-size: 13px;
    font-weight: 300;
    opacity: .8;
    margin-top: 10px;
    text-align: center;
}
.copyright{
    text-align: center;
}
.footer .wrapper .part .row[data-v-c1e815a2] {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 80%;
}

.footer .wrapper .part .row .title[data-v-c1e815a2] {
    font-size: 15px;
    font-weight: 700
}

.footer .wrapper .part .row .links[data-v-c1e815a2] {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-top: 15px
}

.footer .wrapper .part .row .links .link[data-v-c1e815a2] {
    font-size: 15px;
    opacity: .9;
    margin: 5px 0
}

    .footer .wrapper .part .row .links .link[data-v-c1e815a2]:hover {
        opacity: 1
    }

.footer .sub-wrapper[data-v-c1e815a2], .footer .wrapper .rows[data-v-c1e815a2] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.footer .sub-wrapper[data-v-c1e815a2] {
    display: -webkit-box;
    display: flex;
    padding: 10px;
    height: 80%;
}

.footer .sub-wrapper .sub-part[data-v-c1e815a2] {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    font-size: 13px;
}

.footer .sub-wrapper .sub-part .link[data-v-c1e815a2] {
    color: var(--blue);
    font-size: 13px;
    margin: 0 4px
}

.footer .sub-wrapper .sub-part .symbol[data-v-c1e815a2] {
    font-size: 11px;
    margin: 0 4px
}

@media only screen and (max-width:1250px) {
    .footer .wrapper[data-v-c1e815a2] {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: start;
        align-items: flex-start
    }

    .footer .wrapper .part[data-v-c1e815a2] {
        width: 90%
    }

    .footer .wrapper .part.rows[data-v-c1e815a2] {
        margin-top: 50px
    }
}

@media only screen and (max-width:1000px) {
    .footer .wrapper[data-v-c1e815a2] {
        padding: 50px
    }
}

@media only screen and (max-width:800px) {
    .footer .wrapper[data-v-c1e815a2] {
        padding: 25px
    }

    .footer .wrapper .part.rows[data-v-c1e815a2] {
        flex-wrap: wrap;
        margin-top: 10px
    }

    .footer .wrapper .part.rows .row[data-v-c1e815a2] {
        margin: 50px 50px 0 0
    }
}
@keyframes fadeTitle {
 from {
  font-size:0;
  opacity:0
 }
 to {
  opacity:1
 }
}
@keyframes typing {
 from {
  width:0
 }
 to {
  width:550px
 }
}
@keyframes blink-caret {
 from,
 to {
  border-color:transparent
 }
 50% {
  border-color:#fe5186
 }
}
@keyframes floatUp {
 from {
  opacity:0;
  margin-top:50px
 }
 to {
  opacity:1;
  margin-top:0
 }
}
@font-face {
 font-family:Inter;
 font-style:normal;
 font-weight:100;
 src:url(/32871ffc6f7795dacf5c2cb0f7f9be9fd7293033/d9354/assets/fonts/inter-thin-beta.woff2) format("woff2"),
 url(/a886c8f3240471a8a4c85a3a0aab84c05e52916d/fbe29/assets/fonts/inter-thin-beta.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:italic;
 font-weight:100;
 src:url(/71bca5d29512b52426de7b8fee80f2c29cc9a55b/43bd9/assets/fonts/inter-thinitalic-beta.woff2) format("woff2"),
 url(/f1dd45903cee48c90e3fd4f657222eff5ffe83ca/1d224/assets/fonts/inter-thinitalic-beta.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:normal;
 font-weight:200;
 src:url(/727a0b8991ec219d0067d5e0e24dadc315337449/31bcc/assets/fonts/inter-extralight-beta.woff2) format("woff2"),
 url(/f11e02cf278ac3e73558cff79be2b859a4ae2501/0be36/assets/fonts/inter-extralight-beta.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:italic;
 font-weight:200;
 src:url(/bb09c4b003077aec13e0fa8ee92cca502e3425e1/829cf/assets/fonts/inter-extralightitalic-beta.woff2) format("woff2"),
 url(/5099f486eaf80cbb9949764aad0fdfbbd1f22e93/af15e/assets/fonts/inter-extralightitalic-beta.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:normal;
 font-weight:300;
 src:url(/b00f8fcd7e28b42ece489a34083f8beeb383b053/66190/assets/fonts/inter-light-beta.woff2) format("woff2"),
 url(/a517d1e9c0bedebda9a9fd37989dc2d92a6bcda2/3fca6/assets/fonts/inter-light-beta.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:italic;
 font-weight:300;
 src:url(/8d60558afdd45cea179a83b469ac7c9ffb7f891a/82f0d/assets/fonts/inter-lightitalic-beta.woff2) format("woff2"),
 url(/1dd27dfbf4c175f073cd91dd754f8a38bc1e5ac3/e9225/assets/fonts/inter-lightitalic-beta.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:normal;
 font-weight:400;
 src:url(/845393466b8e74a8d6a907a2afea58a0c5dcac8f/c1a74/assets/fonts/inter-regular.woff2) format("woff2"),
 url(/4aa855ff81add61992b3dbe23c7643da6ff528fc/97b77/assets/fonts/inter-regular.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:italic;
 font-weight:400;
 src:url(/e89176bb5fce3da587bd5bf781c49d4857975962/14971/assets/fonts/inter-italic.woff2) format("woff2"),
 url(/45afbd1f96661246c3bec6f7ee52cf69c248bc5c/6ffb6/assets/fonts/inter-italic.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:normal;
 font-weight:500;
 src:url(/8fddc5fd1359e44582381c03a42667a774555641/02f29/assets/fonts/inter-medium.woff2) format("woff2"),
 url(/8b22bea0eb2b41ffacb0dfb2bb3ddda3ced4e22c/1f506/assets/fonts/inter-medium.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:italic;
 font-weight:500;
 src:url(/7a45871d01929cbc02a9512ab6866536f81a8fe0/d11d7/assets/fonts/inter-mediumitalic.woff2) format("woff2"),
 url(/e8f202c66427613251469301fb64e66ef37efcd1/77aa0/assets/fonts/inter-mediumitalic.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:normal;
 font-weight:600;
 src:url(/1c276cffbd9a2b9946202dc649c000a45016fce0/d03bb/assets/fonts/inter-semibold.woff2) format("woff2"),
 url(/01c9215be313a994c17c971cbf2dc52b35a736af/85bd5/assets/fonts/inter-semibold.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:italic;
 font-weight:600;
 src:url(/9348d1db2b8f8d5b56e7c2aac592432ad758828c/23965/assets/fonts/inter-semibolditalic.woff2) format("woff2"),
 url(/2b79d491c76ddde44e3c6d142a931806157cfa5f/7adba/assets/fonts/inter-semibolditalic.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:normal;
 font-weight:700;
 src:url(/bec9f9cccea6ca91bdf1e5b9631bc27c76d414ce/2f4ea/assets/fonts/inter-bold.woff2) format("woff2"),
 url(/6a3a6edb7ca2d8b8e1542746884c8a34c12b9f07/e8ae3/assets/fonts/inter-bold.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:italic;
 font-weight:700;
 src:url(/5b4eaa3a99c8d5909df9073e7dcbac4f53d67273/1851a/assets/fonts/inter-bolditalic.woff2) format("woff2"),
 url(/acdd933e37a2a0e3672d4c55e77c12536a335884/fc8bf/assets/fonts/inter-bolditalic.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:normal;
 font-weight:800;
 src:url(/d7fb5f5c65bb761dbc60588d816007480934fd39/f61b2/assets/fonts/inter-extrabold.woff2) format("woff2"),
 url(/cc98df9425fcde7fc39982897bb5e17993697431/cc03c/assets/fonts/inter-extrabold.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:italic;
 font-weight:800;
 src:url(/51335cdc6405a177a47986a98a89c775f0acd800/1103f/assets/fonts/inter-extrabolditalic.woff2) format("woff2"),
 url(/1dd0d9f777eee99c29e042e78542ab1bb0a371da/bd36a/assets/fonts/inter-extrabolditalic.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:normal;
 font-weight:900;
 src:url(/6cd4495321a963e78d5abfbca2559991a4105c65/0cc77/assets/fonts/inter-black.woff2) format("woff2"),
 url(/8fb5ec3c591264c95d39e2bdd44042cbc76132ef/0d364/assets/fonts/inter-black.woff) format("woff")
}
@font-face {
 font-family:Inter;
 font-style:italic;
 font-weight:900;
 src:url(/038f67c5e08c035400f8b1a74acd2d44a022faf4/03686/assets/fonts/inter-blackitalic.woff2) format("woff2"),
 url(/35c303e0b0ecf3121bb70938404ddd0377281a29/465ee/assets/fonts/inter-blackitalic.woff) format("woff")
}
@font-face {
 font-family:'Inter var';
 font-weight:100 900;
 font-style:normal;
 font-named-instance:Regular;
 src:url(/e25063a1c6002d3548a8223e29eaceb1ee325386/20db2/assets/fonts/inter-upright.var.woff2) format("woff2")
}
@font-face {
 font-family:'Inter var';
 font-weight:100 900;
 font-style:italic;
 font-named-instance:Italic;
 src:url(/902516a6fbc15ae3b048b24ce3b617463f685ce8/b7193/assets/fonts/inter-italic.var.woff2) format("woff2")
}
@font-face {
 font-family:'Inter var experimental';
 font-weight:100 900;
 font-style:oblique 0deg 10deg;
 src:url(/9921bafb2aef5feb3c0d1399a2a1e5813170266d/2dbc7/assets/fonts/inter.var.woff2) format("woff2")
}
